extends layout

append js
  script(src='/spa/app.js')
  script(src='/spa/facetList/facetList.controller.js')
  script(src='/spa/menu/menu.directive.js')
block content
  nav.navbar.navbar-static-top.navbar-default
    .container-fluid Test Content
  .container(ng-app="solr-discovery")
    h1= title
    p Solr-Discovery  #{title}
    div(ui-view)