extends layout

append js
  script(src='/spa/app.js')
  script(src='/spa/facetList/facetList.controller.js')
block content
  h1= title
  p Welcome to #{title}
  div(ng-app="solr-discovery")
    div(ui-view)